body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

header h1,h4 {
    margin: 0;
    padding: 5px;
    text-align: center;
    background: linear-gradient(135deg, #1e90ff, #00c6ff);
    color: white;
}
a {
    color: inherit;
    text-decoration: none;
}

nav {
    background: #0f6fdc;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    display: sticky;
}


nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background 0.3s, transform 0.2s;
}


nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

.card {
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
}


.img {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}

/* phần hoạt động */
.activity-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
}


.activity-item {
    background: #1e90ff;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    transition: transform 0.3s;
}
.activity-item:hover {
    transform: translateY(-5px);
}
.activity-box {
    background: #ff6347;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    transition: transform 0.3s;
    margin-top: 10px;
    font-size: 200%;
}

header p {
    margin: 0px 0 0 5;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
}

#name {
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    color: rgb(154, 219, 0);
}
/* phần thành viên */
.members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.member-card {
  background: white;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.member-card:hover {
  transform: translateY(-8px);
}

.member-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 14px;   
}
.member-card h3 {
  margin-top: 10px;
  color: #1e90ff;
}
